.header {
    width: 100%;
    font-family: Inter;
    padding: 14px 15px 20px 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    .title {
      color: #121212;
      font-size: 20px;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: 0em;
    }
}
  