.text {
    margin: 20px 0;
    background-color: #F3D8DA;
    border-radius: 5px;
    border: 1px solid #EEC7CB;
    padding: 10px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.006em;
    text-align: left;
    color: #6A2326;    
}