.page {
    display: flex;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 100px;
  }
  
Input {
  margin-top: 10px;
}
Select {
  margin-top: 10px;
}
.wrapper {
  margin-bottom: 30px;
}